{% extends 'base.html.twig' %}

{% block body %}
 <div class="alert alert-success">
     
  {% if app.user %}
     <p>Created By : {{ app.user.email }}</p>
  {% endif %}
 </div>
{% endblock %}

{% block title %}
 
{% endblock %}
